<div ng-cloak="" class="componentviewpanel" layout="column" flex="100">
  <!--  <md-content class="md-padding" layout-xs="column" layout="row"> -->
   <!--  <div  layout="column"> -->
      <md-card>
        <md-card-title layout="row" layout-align="space-between start">
        
          <md-card-title-text layout-align="start start">
            <span class="md-title">{{title}}</span>

          </md-card-title-text>
         
          <div layout="row" layout-align="end start">

              <i class="material-icons md-36 red500">arrow_downward</i>
            
          </div>
          
        </md-card-title>
        
        <md-card-content layout="row" layout-align="center center">
          
          <span class="md-headline"> {{data}}</span>
		</md-card-content> 
      
      </md-card>
    </div>
    
      </div>
    <!-- </div> -->
  <!-- </md-content> -->
</div>